<div id="confirmation">
	<h3>Your message has been sent!</h3>
	<p>Please check your email for confirmation.</p>
	<p>Name: <%=@message.name%></p>
	<p>Email: <%=@message.email%></p>
	<p>Phone: <%=@message.phone%></p>
	<p>Body: <%=@message.body%></p>
</div>