<p>Hello, <%=@message.name%>, Thank you for emailing</p>
<p>Your message has been forwarded to the Referrals department for processing.  We will work to respond to your message as soon as possible.  Please know that your message is important to us and that we value your input.  </p>

<p>If you require more immediate assistance, please do not hesitate to call our main office at 818-780-4409</p>

<p>Thank you for your message.</p>

<p>Hamlin Psyche Center</p>

<p>Your message was sent as follows.</p>
<br>
<p><%=@message.body%></p>