<h1>Message from <%=@message.name%></h1>
<h3>Contact Information</h3>
<p>Phone: <%=@message.phone%></p>
<p>Email: <%=@message.email%></p>

<h4>Message was sent through the HPC Website as follows.</h4>

<p><%=@message.body%></p>